@import "variables.less";

// Voice of OC colors
// -------------------------
@ocOrange: #F68121;
@red: #c0333a;
@blue: #326ca6;
@beige: #f3f4f3;

@black: #000000;
@lightestgray: #eaeaea; // limited to comments box
@lightgray: #c9c9c9;
@dkgray: #262626;

@baseColor: @ocOrange;

@ocFB: #3B5998;
@ocFBHover: darken(@ocFB, 10%);
@ocTwitter: #4099FF;
@ocTwitterHover: darken(@ocTwitter, 10%);
@ocEmail: #DC5747;
@ocEmailHover: darken(@ocEmail, 10%);

// common geometry
@homeRule: 1px @lightestgray solid;

// Font families
@sansFontFamily: "futura-pt-condensed", "Avant Garde Condensed Bold", "ITC Avant Garde Condensed Bold", "Futura Condensed ExtraBold", "DIN Condensed Bold", Impact, sans-serif;
@sansFontFamilyLight: "century-gothic", CenturyGothic, AppleGothic, sans-serif; // http://www.cssfontstack.com/Avant-Garde
@headlineFontFamily: "futura-pt-bold", "Avant Garde Bold", "ITC Avant Garde Bold", "Apple SD Gothic Neo Heavy", AppleSDGothicNeo-Heavy, "Arial Black", "Helvetica Neue Bold", sans-serif;
@serifFontFamily: "adobe-garamond-pro", Georgia, "Times New Roman", Times, serif;

// Messing with Largo
@baseFontFamily:        @serifFontFamily;
@altFontFamily:         @sansFontFamily;
@headingsFontFamily:    @sansFontFamily;



// Navbar
// -------------------------
@navbarHeight:                    40px;
@navbarFontSize:                  15px;
@navbarBackground:                @beige;
@navbarBackgroundHighlight:       lighten(@dkgray, 15%);
@navbarText:                      @black;
@navbarLinkColor:                 @black;
@navbarLinkColorHover:            @navbarLinkColor;
@navbarLinkColorActive:           @navbarLinkColorHover;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      @navbarBackground;
@navbarFont:                      @sansFontFamilyLight;

// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownLinkColor:             @grayDark;
@dropdownLinkColorHover:        @white;
@dropdownLinkBackgroundHover:   @baseColor;
@dropdownDividerTop:            #e5e5e5;
@dropdownDividerBottom:         @white;

// Mixins
// --------------------------
.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

.vertical-align () {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.widget-title-common {
  background: none;
  padding: 0;
  font-style: normal;
  font-size: 16px;
  color: @ocOrange;
}
