h2.widgettitle,
h3.widgettitle,
h5.widgettitle {
  font-family: @sansFontFamily;
}

.single-post #sidebar,
.voiceofoc-right-rail {
  .widget {
    padding: 0px;
  }
  .widget + .widget {
    border: none;
  }
  h1 > a {
    color: inherit;
  }
}

#sidebar {
  @media ( min-width: 769px ) {
    border-left: @homeRule;
  }

  .widget::after {
    display: block;
    clear: both;
    border-bottom: @homeRule;
    margin: 24px auto 0;
  }
  .widget:last-child::after {
    display: none;
    border-bottom: none;
  }
  .largo-recent-posts h5 {
    font-family: @serifFontFamily;
    font-style: italic;
    font-size: 24px;
    color: @black;
    a {
      color: @black;
    }
  }
  // these should be the same
  .widgettitle,
  .largo-recent-posts h5.top-tag a {
    .widget-title-common
  }
  .widgettitle a {
    color: @ocOrange;
  }
  .tribe-mini-calendar-event {
    border-bottom: none;
    .entry-title {
      font-family: @serifFontFamily;
      font-style: normal;
      a {
        color: @black;
      }
    }
    .duration {
      display: none;
    }
  }
}

.tags {
  overflow: visible;
  line-height: 1.9;
  h5 {
    font-family: @sansFontFamily;
    color: @ocOrange;
    margin-right: 0;
  }
  h5, a {
    font-size: @baseFontSize * 1.222;
  }
  ul {
    margin-bottom: 24px;

    li {
      font-family: @serifFontFamily;
      &::after {
        content: ", ";
      }

      a {
        text-transform: none;
          color: @black;
      }
    }
  }
}
.article-bottom {
  .widgettitle {
    color: @ocOrange;
    font-size: @baseline;
  }
  .widget {
    border-bottom: @homeRule;
    font-size: @baseFontSize * 1.222;

    &:first-child {
      border-top: @homeRule;
      padding-top: 24px;
    }

    // by request, make these widgets match the font size of body text
    p {
      font-size: @baseFontSize * 1.222;
    }
  }

  .largo-recent-posts {
    ul {
      list-style: disc;
      li {
        overflow: visible;
        margin-left: 1.5em;
        h5 {
          display: inline;
          font-family: @serifFontFamily;
          a {
            color: @black;
          }
        }
      }
    }
  }
  .largo-related-posts {
    img {
      display: none;
    }
    .widgettitle {
      text-align: left;
      font-size: @baseFontSize * 1.222;
    }
    h4 {
      display: inline;
      font-family: @serifFontFamily;
      a {
        color: @black;
      }
    }
  }
}

#header-donate-sidebar {
  position: absolute;
  right: 0;
  bottom: -20px;

  .widget {
    margin: 0;
  }

  a {
    background: @ocOrange;
    color: #fff;
    font-family: futura-pt-bold,"Avant Garde Bold","ITC Avant Garde Bold","Apple SD Gothic Neo Heavy",AppleSDGothicNeo-Heavy,"Arial Black","Helvetica Neue Bold",sans-serif;
    font-size: 16px;
    padding: 4px 10px;
    margin-left: .25em;
    text-transform: none;
    line-height: 30px;
    text-transform: uppercase;
  }

  a:hover {
    background-color: #000;
    text-decoration: none;
  }
}

#widget-header-area .widgettitle {
  .widget-title-common
}

.stories #sponsorhome-sidebar {
    padding-bottom: 16px;
    margin-bottom: 14px;
    clear: both;
    border-bottom: none;
    border-bottom-width: initial;
    border-bottom-style: none;
    border-bottom-color: initial;
}

.stories #sponsorhome-sidebar::after {
    display: block;
    clear: both;
    border-bottom: 1px #eaeaea solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(234, 234, 234);
    margin: 0 auto;
    width: 60%;
}


.sponsorship-widget-area .widget {
    margin-bottom: 0px;
}
