h3.widgettitle {
  font-family: @sansFontFamily;
}

.single-post #sidebar,
.voiceofoc-right-rail {
  .widget {
    padding: 0px;
  }
  .widget + .widget {
    border: none;
  }
  h1 > a {
    color: inherit;
  }
}

#sidebar {
  @media ( min-width: 769px ) {
    border-left: @homeRule;
  }

  .widget::after {
    display: block;
    clear: both;
    border-bottom: @homeRule;
    margin: 24px auto 0;
  }
  .widget:last-child::after {
    display: none;
    border-bottom: none;
  }
  .largo-recent-posts h5 {
    font-family: @serifFontFamily;
    font-style: italic;
    font-size: 24px;
    color: @black;
    a {
      color: @black;
    }
  }
  // these should be the same
  .widgettitle,
  .largo-recent-posts h5.top-tag a {
    background: none;
    padding: 0;
    font-style: normal;
    font-size: 16px;
    color: @ocOrange;
    &::after {
      display: inline;
      content: ' >>';
    }
  }
  .widgettitle a {
    color: @ocOrange;
  }
  .tribe-mini-calendar-event {
    border-bottom: none;
    .entry-title {
      font-family: @serifFontFamily;
      font-style: normal;
      a {
        color: @black;
      }
    }
    .duration {
      display: none;
    }
  }
}
